.authBox {
  display: flex;
  gap: 8px;
}

.registerButton {
  border-radius: 30px;
  width: 171px;
  height: 48px;
  background-color: var(--green);
  color: var(--light);
  text-align: center;
  align-items: center;
  align-content: center;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
}
.registerButton:hover {
  background-color: var(--button-hover);
}

.loginButton {
  border-radius: 30px;
  border: 1px solid rgba(25, 26, 21, 0.2);
  background: transparent;
  width: 124px;
  height: 48px;
  text-align: center;
  align-items: center;
  align-content: center;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: var(--black);
}

.loginButton:hover {
  background-color: rgba(84, 190, 150, 0.2);
}
