.wrapper {
  box-sizing: border-box;
  border-radius: 24px;
  /* width: 304px; */
  min-width: 290px;
  background: var(--card-background);
  display: flex;
  flex-direction: column;

  gap: 24px;
  padding: 24px;
}
.priceBox {
  margin-right: 8px;
}

.avatarBox {
  border: 2px solid rgba(84, 190, 150, 0.2);
  border-radius: 30px;
  width: 120px;
  height: 120px;
  display: grid;
  position: relative;
  flex-shrink: 0;
}

.avatarImg {
  display: block;
  border-radius: 15px;
  width: 96px;
  height: 96px;
  align-self: center;
  justify-self: center;
}

.onlineIcon {
  position: absolute;
  top: 12px;
  right: 12px;
}

.position {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--grey);
  margin-bottom: 8px;
}

.name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  color: var(--black);
  margin-bottom: 10px;
}

.subWrapper {
  display: flex;
  margin-left: auto;
  color: var(--black);
  align-items: center;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.topInfoWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.starIcon {
  fill: var(--yellow);
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 4px;
  flex-shrink: 0;
}

.dashIcon {
  fill: rgba(25, 26, 21, 0.2);
  stroke: rgba(25, 26, 21, 0.2);
  width: 3px;
  align-self: center;
  margin-left: 16px;
  margin-right: 16px;
}

.helper {
  margin-left: 4px;
}
.priceAccent {
  color: var(--green-accent);
  margin-left: 4px;
}

.mainInfoBox {
  margin-bottom: 14px;
}

.qualificationBox {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 8px;
  color: var(--grey);
  margin-bottom: 24px;
}

.qualificationItem {
  box-sizing: border-box;
  border-radius: 22px;
  display: flex;
  padding: 8px 8px;
  background-color: var(--light);
  text-transform: capitalize;
  cursor: default;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.text {
  color: var(--black);
  margin-left: 4px;
}

.aboutText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
}

.readMoreBtn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;

  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  background-color: inherit;
  color: var(--black);
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    /* width: 760px; */
    min-width: 760px;
    flex-direction: unset;
  }

  .topInfoWrapper {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
  }

  .priceAccent {
    margin-right: 28px;
  }

  .subWrapper {
    align-items: start;
  }

  .dashIcon {
    margin-top: 4px;
    align-self: start;
  }

  .starIcon {
    margin-top: 4px;
    align-self: start;
  }

  .name {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    width: 1184px;
    flex-direction: unset;
  }

  .cardInfoBox {
    width: 992px;
  }

  .topInfoWrapper {
    display: flex;
    flex-direction: row;
  }

  .name {
    margin-bottom: 0;
  }

  .subWrapper {
    font-size: 16px;
    align-items: start;
  }

  .starIcon {
    margin-top: 4px;
    align-self: start;
  }

  .dashIcon {
    margin-top: 4px;
    align-self: start;
  }

  .priceAccent {
    margin-right: 28px;
  }

  .qualificationItem {
    align-items: center;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    border-radius: 24px;
  }

  .aboutText {
    font-size: 16px;
  }

  .position {
    font-size: 16px;
  }

  .name {
    font-size: 24px;
  }

  .readMoreBtn {
    font-size: 16px;
  }
}
