.header {
  border-bottom: 1px solid rgba(25, 26, 21, 0.2);
}

.wrapper {
  width: 1184px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.linksBox {
  display: flex;
}

.authBox {
  display: flex;
}

.accent {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--green);
}

.logo {
  font-weight: 600;
  color: var(--black);
}

.link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: var(--black);

  margin-right: 40px;
}

.linkActive {
  position: relative;
}

.linkActive::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--button-hover);
  border-radius: 50%;
}

.registerButton {
  border-radius: 30px;
  width: 171px;
  height: 48px;
  background-color: var(--green);
  color: var(--light);
  text-align: center;
  align-items: center;
  align-content: center;
}
.registerButton:hover {
  background-color: var(--button-hover);
}

.loginButton {
  border-radius: 30px;
  border: 1px solid rgba(25, 26, 21, 0.2);
  background: transparent;
  width: 124px;
  height: 48px;
  text-align: center;
  align-items: center;
  align-content: center;
}

.loginButton:hover {
  background-color: rgba(84, 190, 150, 0.2);
}

.authBox {
  display: flex;
  gap: 8px;
}
