.button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--light);

  border-radius: 30px;
  /* padding: 14px 14px; */
  width: 212px;
  height: 48px;
  background: var(--green);
  margin-left: 4px;
}

.button:hover {
  background: var(--button-hover);
}

@media only screen and (min-width: 1440px) {
  .button {
    margin-left: 0;
    padding: 14px 32px;
    width: 227px;
    height: 48px;
    font-size: 16px;
  }
}
