.header {
  border-bottom: 1px solid rgba(25, 26, 21, 0.2);
}

.wrapper {
  width: 1184px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
