.likeButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  align-items: center;

  fill: transparent;
  stroke: black;
}

.active {
  fill: var(--green);
  stroke: var(--green);
}

.wrapper {
  border-radius: 30px;
  /* width: 500px;
  height: 200px; */
  width: 280px;
  height: 190px;
  background-color: var(--light);
  padding: 36px;
  /* padding: 54px; */
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--black);
  margin-bottom: 20px;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(25, 26, 21, 0.5);
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .likeButton {
    margin-left: auto;
  }

  .wrapper {
    width: 280px;
    height: 190px;
    background-color: var(--light);
    padding: 36px;
  }

  .title {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1440px) {
  .likeButton {
    align-self: start;
  }
}
