:root {
  font-family: Inter, sans-serif;

  --green: #54be96;
  --green-accent: #38cd3e;
  --light: #f3f3f3;
  --black: #191a15;
  --button-hover: #36a379;
  --card-background: #fbfbfb;
  --grey: #8a8a89;
  --yellow: #ffc531;
}

/* body {
  background-color: var(--light);
  margin: 0;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
html {
  background: linear-gradient(
    to top left,
    rgba(84, 190, 150, 0.2),
    var(--light)
  );
} */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to top left,
    rgba(84, 190, 150, 0.2),
    var(--light)
  );
  z-index: -1;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
  display: block;
}

button {
  cursor: pointer;
  outline: transparent;
  border: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: scroll;
}
* {
  box-sizing: border-box;
}
