.email,
.password {
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 12px;
  padding: 16px 16px 16px 16px;
  min-width: 230px;
  height: 48px;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  color: var(--black);
}

.email::placeholder,
.password::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: var(--black);
}

.wrapper {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.button {
  border-radius: 30px;

  min-width: 230px;
  height: 48px;
  background-color: var(--green);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--light);
}

.button:hover {
  background-color: var(--button-hover);
}

.passwordWrapper {
  position: relative;
}

.emailWrapper {
  position: relative;
}

.hideButton {
  position: absolute;
  top: 50%;
  right: 21px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.iconEye {
  width: 16px;
  height: 16px;
  display: inline-block;
  stroke-width: 1;
  stroke: black;
  fill: transparent;
}

.error {
  color: red;
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-30%, -50%);
}

@media only screen and (min-width: 768px) {
  .email {
    width: 438px;
    height: 52px;
    font-size: 16px;
  }

  .password {
    width: 438px;
    height: 52px;
    font-size: 16px;
  }

  .email::placeholder,
  .password::placeholder {
    font-size: 16px;
  }

  .button {
    padding: 16px 196px;
    width: 438px;
    height: 52px;
    font-size: 16px;
  }

  .iconEye {
    width: 20px;
    height: 20px;
  }

  .hideButton {
    right: 16px;
  }
}
